.allusersContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0 4em;
}

.usersBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 2em;
    background-color: grey;
}

.usersCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
    padding: 2em 1em;
    // box-shadow: .3em .3em 1em .1em black;
}

.usersName{
    font-size: 2em;
    color: white;
}

.usersInfo {
    font-size: 1em;
    color: white;
}