.allusersContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0 4em;
}

.usersBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: grey;
}

.userCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
    width: 10em;
    padding: 1em 1em;
    margin-right: 1em;
    // box-shadow: .3em .3em 1em .1em black;
    &:last-child{
        margin-right: 0;
    }
}

.userData{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.usersName{
    font-size: 2em;
    color: white;
}

.usersInfo {
    font-size: 1em;
    color: white;
}


.userButton {
    color:white;
    cursor: pointer;
    padding: 1em;
    &:hover{
        background-color: white;
        color: black;
    }
}