.allUsersContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4em 0 4em;
}
.searchUserContainer{
    position: fixed;
    top: 0;
    z-index: 4;
    display: flex;
    flex-direction: row;
}

.usersBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
    background-color: black;
}

.userCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.userData{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-family: 'Roboto Mono', monospace;
}

.usersInfoBoolean{
    
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    margin-right: 2em;  
}

.usersInfoShort{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 2em;
    margin-right: 2em; 
}

.usersInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 8em;
    margin-right: 2em;   
}

.titlesUsers{
    display: flex;
    flex-direction: row;
    color: yellow;
}


.userButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    .faIcons{
        color:yellow;
    }

}

@media (max-width: 950px) {
    .titlesUsers{
        display: none;
    }
    .allUsersContainer{
        padding-top: 4em;
    }
    .userCard{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2em;
        padding: 2em;

        background-color: black;
    }
    .usersBox{
        align-items: center;
        background-color: transparent;
    }
    .userData{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .usersInfo{
        margin: 0;
    }
    .usersInfoShort{
        margin: 0;
    }
    .usersInfoBoolean{
        margin: 0;
    }
    .searchUserContainer{
        position: relative;
        flex-direction: column;
        margin-bottom: 2em;

    }
}