.movieDetailBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movieDetailCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60em;
}

.movieData{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 2em;
}

.movieName{
    font-size: 1.5em;
    margin-bottom: .5em;
}