.allmoviesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.movieBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em 0;
    


}
.movieCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: .2em solid white;
    color:white;
    margin: 0 2em 1em 0;
    &:last-child{
        margin: 0;
    }
    cursor: pointer;
}