.allmoviesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.movieBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: teal;
    width: 80%;
}
.movieCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    width: 20em;
}