.adminContainer{
    display: flex;
    flex-direction: column;

}

.adminBox{
    position: fixed;
    height: 3em;
    top: 0em;
    left: 1em;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.adminActions {
    text-align: center;
    width: 3em;
}