.adminContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: yellow;
}

.admintext{
    color:white;
    background-color: red;
}