.adminContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: yellow;
}

.adminBox{
    display: flex;
    flex-direction: row;
}

.adminActions {
    color: black;
    padding: 2em;
    background-color: green;
    cursor: pointer;
    margin-right: 2em;
    width: 20em;
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        background-color: hotpink;
    }
}