.containerRegister{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;


    .boxLogin{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 40em;
        padding: 2em;
        
    }

    .inputsLogin {
        all: unset;
        background-color: white;
        color: black;
        padding: .5em;
        margin: .5em 0 1.5em;
        width: 20vw;
        max-width: 30em;
        min-width: 20em;
    }

    .sendButton {

        background-color: $favorito2;
        font-size: 1.2em;
        margin: 2em 0;
        padding: .5em 1em;
        color: white;
        cursor: pointer;
        align-self: center;
    }
    .sendButton:hover{
        background-color: $favorito3;
        color: white;
    }

}