.clientContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}

.clientBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em 0;
}

.clientActions {
    color: black;
    padding: 2em;
    background-color: white;
    cursor: pointer;
    margin-right: 2em;
    width: 10em;
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        color: white;
        background-color: black;
    }
}


