header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: yellow;
    z-index: 3;
    width: 100%;
    opacity: .8;
    top:0;
    height: 3em;
}