#menu{
    display: none;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menuDeploy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.coffe{
    color: white;
    font-size: .8em;
}

.linksContainer{
    display: flex;
    align-items: center;
    flex-direction: row; 
    z-index: 3;

    li{
        all: unset;
        margin-left: 2em;
        &:first-child{
            margin-left: 0;
        }
    }
    
    .links{
        font-size: 1em;
        text-decoration: none;
        cursor: pointer;
        color: white;

        &:hover{
            color: $favorito3;
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        
        
    }
}

/* @media (max-width: 1490px) {
    .linksContainer{
        align-items: center;
        flex-direction: column;
        background-color: rgb(34, 180, 177);
        position: absolute;
        top: 5em;
        right: 1.5em;
        display: none; 
    }
    .linksContainer li{
        box-sizing: border-box;
        width: 100%;
        padding: .2em 1em;
        margin: 0;
        text-align: right;
    }
    .linksContainer li:hover{
        background-color: black;
    }
    #menu{
        display: flex;
        width: 3.5em;
        cursor: pointer;
    }

    #desplegable:hover .linksContainer{
        display: flex;
    }
} */ 
