.allOrdersContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 0 4em;
}

.ordersBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
    
    background-color: black;

}

.orderCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.orderData{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-family: 'Roboto Mono', monospace;
}

.orderMovieName{
    font-size: 1em;
    margin-right: 2em;
    width: 10em;
}

.orderInfo {
    font-size: 1em;
    color: yellow;
    width: 3em;
    margin-right: 2em;
    font-family: 'Roboto Mono', monospace;
}
.orderDate {
    font-size: 1em;
    color: yellow;
    width: 20em;
    margin-right: 2em;
    font-family: 'Roboto Mono', monospace;
}


.orderButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    .faIcons{
        color:yellow;
    }

}