.allOrdersContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 0 4em;
}

.ordersBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2em;

}

.orderCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 15em;
    height: 15em;
    padding: 1em 1em;
    margin-right: 1em;
    // box-shadow: .3em .3em 1em .1em black;
    &:last-child{
        margin-right: 0;
    }
}

.orderData{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    color: yellow;
    font-family: 'Roboto Mono', monospace;
}

.ordersName{
    font-size: 2em;
    
}

.ordersInfo {
    font-size: 1em;
    color: yellow;
    font-family: 'Roboto Mono', monospace;
}


.orderButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    .faIcons{
        color:yellow;
    }

}