.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 3em);
}

.boxLogin {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 20em;
    height: 20em;
    border-radius: 100%;
    border: solid .15em white;
    
    &:hover{
        animation-name: breath;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(0.86, 0.15, 0.27, 1);
        animation-iteration-count: infinite;
    }

    .labelsLogin{
        margin-top: 1em;
        color: white;
    }
    .inputsLogin{
        all:unset;
        text-align: center;
        padding: .5em 1em;
        color:white;
    }
    .loginButton{
        margin-top: 2em;
        cursor: pointer;
        padding: .5em 1em;
        color: white;
    }

}

@keyframes breath {
    0% { box-shadow: 0em 0em .25em .25em white;}
    50% { box-shadow: 0em 0em 1em 1em white;}
    100% { box-shadow: 0em 0em .25em .25em white;}
}