.containerLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boxLogin {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: .5em solid black;
    
    &:hover{
        transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        border: 0;
        background-color: black;
        box-shadow: 0em 0em .1em .5em black;

        .labelsLogin{
            color: yellow;
        }
        .inputsLogin{
            color:yellow;
        }
        .loginButton{
            color: yellow;
        }
    }

    .labelsLogin{
        margin-top: 1em;
        color: black;
        font-family: 'Roboto Mono', monospace;


    }
    .inputsLogin{
        all:unset;
        text-align: center;
        padding: .5em 1em;
        color:black;
        font-family: 'Roboto Mono', monospace;

    }
    .loginButton{
        margin-top: 2em;
        cursor: pointer;
        padding: .5em 1em;
        color: black;
        font-family: 'Roboto Mono', monospace;

    }

}
